{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        {{ with .Site.Params.contact.title }}
        <h2 class="section-heading">{{ . | markdownify }}</h2>
        {{ end }}

        {{ with .Site.Params.contact.subtitle }}
        <h4 class="section-heading ">{{ . | markdownify }}</h3>
        {{ end }}

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <form method="POST" action="http://formspree.io/contact@interovr.com">
           <div class="row">
              <div class="col-md-12 form-group">
              <!-- <div class="form-group"> -->
                <input class="form-control" type="email" name="email" placeholder="Your email">
<!--               </div>
              <div class="col-md-6 form-group"> -->
              <br>
                <textarea class="form-control" name="message" placeholder="Your message"></textarea>
                <br />
                <button class="form-control" type="submit">Send</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>

<canvas style="">
     
<div>
<script type="text/javascript" src="http://feedjit.com/serve/?vv=1515&amp;tft=3&amp;dd=0&amp;wid=&amp;pid=0&amp;proid=0&amp;bc=FFFFFF&amp;tc=000000&amp;brd1=012B6B&amp;lnk=135D9E&amp;hc=FFFFFF&amp;hfc=2853A8&amp;btn=C99700&amp;ww=200&amp;went=10"></script><noscript><a href="http://feedjit.com/">Live Traffic Stats</a></noscript>

<p style="font-family: verdana;font-size: 12px;color: #333333;text-decoration: none;" ><a alt="Map IP Address" href="http://www.ip2map.com"><img border="0" alt="Map IP Address" src="http://www.ip2map.com/ip2map.gif"></a><br>Powered by<a alt="IP Address" href="http://www.ip2location.com" style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;color: #0066CC;text-decoration: underline;">IP2Location.com</a></p>

</div>
</canvas>
  
</section>



   <!--        <fieldset>
            <div class="row">
              <div class="col-md-6">

                {{ with .Site.Params.contact.form.name }}
                <div class="form-group">
                  <input class="form-control" id="name" type="text" name="name" placeholder="{{ with .text }}{{ .  | markdownify }}{{ end }}" data-validation-error-msg="{{ with .warning }}{{ . | markdownify }}{{ end }}">
                  <p class="help-block text-danger"></p>
                </div>
                {{ end }}

                {{ with .Site.Params.contact.form.email }}
                <div class="form-group">
                  <input class="form-control" id="email" required="required" type="email" name="email" placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}" data-validation-error-msg="{{ with .warning }}{{ . | markdownify }}{{ end }}">
                  <p class="help-block text-danger"></p>
                </div>
                {{ end }}

                {{ with .Site.Params.contact.form.phone }}
                <div class="form-group">
                  <input class="form-control" id="phone" type="number" name="phone" placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}" data-validation-error-msg="{{ with .warning }}{{ . | markdownify }}{{ end }}"></textarea>
                  <p class="help-block text-danger"></p>
                </div>
                {{ end }}
              </div>

              <div class="col-md-6">
              {{ with .Site.Params.contact.form.message }}
                <div class="form-group">
                  <textarea class="form-control" id="message"  name="message" placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}" data-validation-error-msg="{{ with .warning }}{{ . | markdownify }}{{ end }}"></textarea>
                  <p class="help-block text-danger"></p>
                </div>
                {{ end }}

              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div class="text-success" id="success" style="display:none;">
                  {{ with .Site.Params.contact.thanks }}
                    {{ . | markdownify }}
                  {{ else }}
                    Thank you for contacting us.
                  {{ end }}
                </div>
                <div class="text-danger" id="error" style="display:none;">
                  {{ with .Site.Params.contact.error }}
                    {{ . | markdownify }}
                  {{ else }}
                    Message could not be send. Please contact us at {{ (or .Site.Params.contact.email .Site.Params.email) }} instead.
                  {{ end }}
                </div><br />
                <button type="submit" value="Submit" class="btn btn-xl">{{ with .Site.Params.contact.buttonText }}{{ . }}{{ end }}</button>
              </div>
            </div>
            {{ range .Site.Params.contact.form.hidden }}
              {{ if eq .name "site" }}
                <input type="hidden" name="{{ .name }}" value="{{ $.Permalink }}"/>
              {{ else if eq .name "page" }}
                <input type="hidden" name="{{ .name }}" value="{{ $.URL }}"/>
              {{ else }}
                <input type="hidden" name="{{ .name }}" value="{{ .value }}"/>
              {{ end }}
            {{ end }}
          </fieldset> -->
