{{ "<!-- Hero -->" | safeHTML }}
<header>
<script>
// $(function() {
// 	$("#email").on('keyup', function (e) {
// 	    if (e.keyCode == 13) {
// 		myFunction();
// 	    }
// 	});
// });

function myFunction() {
	var email = $("#email").val();
	if(email){
		$("#success").removeClass("hide");
		$("#fail").addClass("hide");
		$("#emailSuccess").html(email);
		$.ajax({

				    url: 'https://script.google.com/macros/s/AKfycbzUHaVqS_7gTUX1jnIARC1XwWy7D1PAQbZnAVRZ-_qH7lrowU_9/exec',
				    data: {email:$("#email").val()},
				    type: 'POST',
				    crossDomain: true,
				    dataType: 'jsonp',
				    // success: function() { alert("Success"); },
				    // error: function() { alert('Failed!'); }
				    // beforeSend: setHeader
				});
		// hide
		// alert("Successfuly register for the beta version "+email);	
	}else{
		$("#success").addClass("hide");
		$("#fail").removeClass("hide");
		// alert("Please type in your email to register for beta");	
	}
	console.log("Hello ",email);
	
	

	/*
    $.post("https://script.google.com/macros/s/AKfycbxY1ptf9mUiiEDbwiPlVkIosgaY0kO5SaQ2v5FtaVym/dev",
    {
        email: "Donald Duck",
        city: "Duckburg"
    },
    function(data, status){
        alert("Data: " + data + "\nStatus: " + status);
    });

      <div class="intro-lead-in">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</div>
      <div class="intro-heading">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</div>

 <!--      <form action="/https://script.google.com/macros/s/AKfycbxY1ptf9mUiiEDbwiPlVkIosgaY0kO5SaQ2v5FtaVym/dev" method="get">
  First name: <input type="text" name="email"><br>
  Last name: <input type="text" name="name"><br>
  <input type="submit" value="Submit">
</form> -->
<!--  <form action="https://script.google.com/macros/s/AKfycbxY1ptf9mUiiEDbwiPlVkIosgaY0kO5SaQ2v5FtaVym/dev" method="get"> -->
	    <div class="col-lg-3"></div>
	    <div class="col-lg-6">
			<!-- <div class="checkbox"> -->
	   		<input class="form-control text-center pagination-centered" id="email" required="required"  name="email" placeholder="Enter your email" style="" ><br><br>
	   		<a onclick="myFunction()"  class="page-scroll btn btn-xl">To Subscribe for<br>VR rowing  beta</a>
	   		<br>
	   		<br>
	   		<div class="alert alert-success hide" id="success">
  				<strong>Success!</strong> You registered <strong id="emailSuccess"></strong><br>Please scroll down for more information regarding the VR experience
			</div>
			<div class="alert alert-danger hide" id="fail">
			  <strong>Error!</strong> Please type your email to subscribe to the beta version
			</div>


			<!-- <br><br> -->
			<!-- <input type="submit" value="Submit"> -->
			<!-- "#portfolio"  -->
			
			<!-- <a href="#portfolio" class="page-scroll btn btn-xl">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a> -->
		</div>
	    <div class="col-lg-3"></div>
	   <!-- </form> /https://script.google.com/macros/s/AKfycbxY1ptf9mUiiEDbwiPlVkIosgaY0kO5SaQ2v5FtaVym/dev?email=jojo" class="page-scroll btn btn-xl -->

InteroPromo
<div class="container">
    <div class="intro-text">
    </div>
  </div>
    */
    // document.getElementById("demo").innerHTML = "Hello World";
}
</script>
<div class="container">
  		<div class="fullscreen-bg">
			<video loop muted autoplay poster="../videos/ImagePromo.jpg" width="720" height="480" class="fullscreen-bg__video">
				<source src="../videos/WebPromo.mp4" type="video/mp4">
				<source src="../videos/WebPromo.ogg" type="application/ogg">
				<source src="../videos/WebPromo.webm" type="application/webm">
			</video>
		</div>
		<div class="intro-text">
    </div>
  </div>
  
</header>
